html{
    scroll-behavior: smooth;
}

section[id]{
    scroll-margin-top: 140px;
}

    
#body-contacto {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../imagenes/fondo_index3.jpeg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}

#body-calc {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../imagenes/fondo_index3.jpeg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}

body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: rgb(7, 7, 7);
}

.topheader{
    position: fixed;
    z-index: 100;
    width: 100%;

}

.topnav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 15px 0 0 0;
    
}

.menu{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: rgb(7, 7, 7);
    font-weight: 900;
    font-size: 24px;
    text-shadow: 3px 3px 5px #553c09;
    margin: 0 8% 0 0;

}

.menu a{
    position: relative;
}

.menu a.selected::after{
    opacity: 0.8;
}

.menu li{
    padding: 0 6px;
    margin: 0 0 0 20px;
    
}

nav a:hover{
    color: #9c6e12;
    text-decoration-style: solid;
    text-shadow: 3px 3px 5px rgb(22, 22, 0);
}

.idiomas{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 0 4px;
    margin: 0 0 0 4%;
}

.flag:hover{
    scale: 1.3;
    filter: drop-shadow(0 0 8px #9c6e12);
}

.español{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
    color: rgb(7, 7, 7);
    text-shadow: 3px 3px 5px #444444;
    padding: 0 4px;
    margin: 0 0 0 20px;
    
    
}


.open__menu,
.close__menu {
    display: none;
}

.banner{
    width: 100%;
    text-align: center;
    background-color: #444444;
}

.nombre__apellido{
    width: 60%;
    display: inline;
    color: #885e0a;
    text-shadow: 3px 3px 5px #f0f0f0;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 5%;
    line-height: 90px;
    transform: translate(-5%, -20%);
}

    
#main-index {
    position: relative;
    z-index: 1;
    min-height: 100vh;
}
    
#main-index::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../imagenes/fondo_index3.jpeg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    z-index: -1;
}

.presentacion{
    font-family: 'Noto Serif Ahom', serif;
    padding: 10px 80px;
    font-size: 8rem;
    text-shadow: 3px 3px 5px #000000;
   
}

.carrera{
    font-family: 'Monserrat';
    font-weight: 600;
    padding: 0 80px;
    font-size: 5rem;
    color: #473104;
    text-shadow: 1px 1px 3px #5f5f5f;
    
}

.perfil{
    padding: 1.5em 0;
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}

.titulo__home{
    font-family: 'Noto Serif Ahom', serif;
    text-align: center;
    font-size: 3em;
    margin: 1.5em 0 1.5em;
    font-weight: 800;
    clear: left;
    text-shadow: 2px 2px 4px #5f4e38;
}

.titulo__home-contacto{
    font-family: 'Noto Serif Ahom', serif;
    text-align: center;
    font-size: 1.5em;
    margin: 1.5em 0 1.5em;
    font-weight: 300;
    clear: left;
    text-shadow: 2px 2px 3px #553c09;
    margin: 1em 0 1em;
    color: #f0f0f0;
}


.perfil p{
    margin: 0 0 1em;
    font-size: 2em;
    font-weight: 500;
}



.corriendo{
    width: 120px;
    float: left;
    margin: 15px 20px 20px 30px;
    box-shadow: 5px 8px 12px black;
}

.corriendo:hover{
    scale: 3.5;
    transition: 0.5s;
}

.corriendo2{
    width: 200px;
    float: right;
    margin: 0 30px 20px 20px;
    box-shadow: 5px 8px 12px black;
}

.corriendo2:hover{
    scale: 3.5;
    transition: 0.5s;
}

.bicicleta{
    width: 90%;
    margin: 20px 20px 20px 20px;
    box-shadow: 5px 8px 12px black;
    border-radius: 30% 70% 70% 30%/ 30% 30% 70% 70%;
}

.calculadora_viajes {
    background: url(../imagenes/taxi1.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 960px;
    margin: 100px auto 20px auto;
    font-family: 'Noto Serif Ahom', serif; 
    display: grid;
    grid-template-columns: 23% 23% 23% 12% 10%;
    grid-template-rows: 12% 48% 13% 13%;
    gap: 20px;
}

#titulo_calc{
    text-align: center;
    grid-column:1/6;
    grid-row:1/2;
    font-family: 'Noto Serif Ahom', serif;
    color: #5f4103;
    font-size: 3em;
    margin: 0.7em 0 0.7em;
    font-weight: 800;
    clear: left;
    text-shadow: 2px 2px 4px #af9e88;
}

#map { 
    width: 100%;
    grid-column:1/3;
    grid-row:2/3;
    gap:10px
}

#routeForm {
    grid-column:3/6;
    grid-row:2/3;
    font-size: 24px;
    text-align: center;
    margin: 20px;
    
}

#lab-origin {
    padding-top: 4px 5px;
    margin: 20px 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
}

#lab-desti {
    padding-top: 4px 5px;
    margin: 20px 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
}

#lab-vehi {
    padding-top: 4px 5px;
    margin: 20px 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
}

#origin, #destination, #vehicle_type {
    text-align: center;
    width: 50%; 
    padding: 15px auto; 
    margin: 16px 10px 20px 0; /* Añade un margen arriba y abajo para separar los campos de texto */
    border: 1px solid #ccc; /* Un borde sutil */
    border-radius: 6px; /* Bordes redondeados para un look más suave */
}

.calcular_viaje{
    width: 40%;
    padding: 0.5em 1em;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #5f4e38;
    border-color: #1d1d1d;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
}

.calcular_viaje:hover{
    background: #9c6e12;
    transform: scale(1.2);
}

/* Estilos para la sección de información debajo del formulario */
#additionalInfo {
    margin-top: 20px;
}

.info-viaje {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    grid-column:1/3;
    grid-row:3/5;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
    
}

.info-viaje h2 {
    margin-top: 3px;
    margin-bottom: 5px;
}

.info-viaje p {
    margin-bottom: 5px;
}


.info-conductor {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    grid-column:3/5;
    grid-row:3/4;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
}

.info-conductor h2 {
    margin-top: 3px;
    margin-bottom: 5px;
}

.info-conductor p {
    margin-bottom: 5px;
}

#foto {
    padding: 0 8px;
    grid-column:5/6;
    grid-row:3/4;
    gap: 10px;
}

.info-vehiculo {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    grid-column:3/6;
    grid-row:4/5;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
}

.info-vehiculo h2 {
    margin-top: 3px;
    margin-bottom: 5px;
}

.info-vehiculo p {
    margin-bottom: 5px;
}

.info-viaje h2, .info-conductor h2, .info-vehiculo h2 {
    color: #000000;
    font-size: 25px;
}

.info-viaje p, .info-conductor p, .info-vehiculo p {
    font-size: 18px;
    color: #141414;
}



#contacto{
    text-shadow: 1px 1px 3px #aaaaaa;
    background: url(../imagenes/bg.jpg);
    border-radius: 50px;
    max-width: 1100px;
    width: 940px;
    padding: 2px;
    margin: 100px auto 20px auto;
    text-align: center;
}

.contacto__formulario{
    text-align: center;
    width: 85%;
    margin: 0 auto;
    padding: 15px;
    backdrop-filter: blur(3px);
    border-radius: 25px;
    color: #f0f0f0;
}

#contacto form{
    margin: 20px 50px;
    
}

#contacto form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    border-radius: 5px;
}

.input__padron{
    display: block;
    margin: 0 0 20px 185px;
    padding: 10px 25px;
    width: 50%;
    resize: vertical;
}

.enviar{
    width: 40%;
    padding: 0.5em 1em;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #5f4e38;
    border-color: #1d1d1d;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background: #9c6e12;
    transform: scale(1.2);
}


footer{
    flex-direction: column;
    text-align: center;
    background: url(../imagenes/bg.jpg);
    padding: 40px;
    margin-top: 10px;
}

.redes{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.redes p{
    color: #aaaaaa;
    font-size: 18px;
}

.red{
    margin-top: 5px;
}

.red:hover{
    scale: 1.2;
    filter: drop-shadow(0 0 14px #405c8c);
}

.copyright{
    color: #ffffff;
    font-size: 13px;
    margin: 20px;
}

@media screen and (max-width: 1180px){


    .topnav{
        padding: 1px 0 0 0;
    }
    
    .nombre__apellido{
        opacity: 1;
        top: 10%;
        left: 5%;
        line-height: 35px;
    }

    .presentacion{
        font-size: 1.9em;
        padding: 0;
       
    }
    
    .nombre{
        font-size: 1.9em;
        
    }
    
    .carrera{
        font-size: 1.5em;
        padding: 0;
        
    }


    .menu{
        flex-direction: column;
        position: fixed;
        font-size: 25px;
        left: 0;
        top: 0;
        width: 100%;
        align-items: center;
        background: url(../imagenes/bg.jpg);
        height: 100%;
        overflow-y: auto;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.4s;
        
    }
    
    .menu a{
        line-height: 80px;
        color: #9c6e12;
        text-shadow: 3px 3px 5px #000000;
    }

    .menu a.selected::after{
        opacity: 0;
    }

    nav a:hover{
        color: #9c6e12;
        text-decoration-style: solid;
        text-shadow: 3px 3px 5px #5f4e38;
    }

    .open__menu,
    .close__menu {
        display: block;
        border-radius: 20%;
        background: none;
        cursor: pointer;
    }

    .open__menu{
        margin: 5px 5%;
        border-color: #9c6e12;
    }

    .close__menu{
        align-self: flex-end;
        border-color: #9c6e12;
        padding: 2px 2px;
        opacity: 0.5;
        margin: 20px 6%;
    }

    .español p{
        display: none;    
    }
    

    .menu--opened{
        opacity: 1;
        pointer-events: all;
    }

    .titulo__home{
        font-size: 1.8em;   
        
    }

    .titulo--opaco{
        opacity: 0;
        pointer-events: none;
        position: relative;
    }

    .perfil p{
        width: 100%;
        margin: 0 auto;
        font-size: 23px;
    }

    .cv__btn{
        font-size: 15px;
        width: 75%;
    }

    .habilidades{
        display: flex;
        flex-direction: column;
        font-size: 0.8em;
        width: 90%;
        margin: 0 auto;
    }

    .skills__bar{
    width: 110px;
    }

    .skills__bar::after{
    content: "";
    width: 110px;
    left: -110px;
    }



    .proyecto{
        margin: 0 auto;
    }

    .proyectos__contenido{
        width: 100%;
    }

    .img__proyectos{
        height: 60%;
        width: 60%;
    }


    .contacto{
        width: 90%;
    }

    .input__padron{
        margin: 10px auto;
        padding: 10px 25px;
        width: 80%;
    }

    .enviar{
        font-size: 12px;
    }

    

}

/* Media queries para asegurar la responsividad */

@media (max-width: 768px) {
    body {
        font-size: 14px; /* Reduce el tamaño de la fuente base */
    }

    .topnav, .menu {
        flex-direction: column; /* Cambia la dirección de las barras de navegación */
    }

    .nombre__apellido, .presentacion, .carrera {
        font-size: 1.5em; /* Reduce el tamaño de la fuente para adaptarse a pantallas más pequeñas */
    }

    .menu li {
        padding: 8px; /* Aumenta el padding para facilitar la interacción táctil */
    }

    .calculadora_viajes {
        grid-template-columns: 1fr; /* Cambia la disposición de la cuadrícula para una columna */
        padding: 10px; /* Reduce el padding */
    }

    #routeForm, .info-viaje, .info-conductor, .info-vehiculo {
        font-size: 16px; /* Ajusta el tamaño de la fuente para mejorar la legibilidad */
        grid-column: 1 / -1; /* Extiende los componentes para ocupar todo el ancho disponible */
    }

    .corriendo, .corriendo2 {
        width: 100%; /* Ajusta el ancho de las imágenes para que ocupen todo el ancho disponible */
    }
    
    .calculadora_viajes {
        padding: 15px;
    }

    #routeForm input[type="text"],
    #routeForm select,
    #routeForm input[type="submit"] {
        font-size: 16px; 
    }
}

@media (max-width: 480px) {
    .nombre__apellido, .presentacion, .carrera {
        font-size: 1.2em; /* Reduce aún más el tamaño de la fuente para pantallas muy pequeñas */
    }

    .menu {
        font-size: 18px; /* Reduce el tamaño de la fuente del menú para ahorrar espacio */
    }

    .banner, .perfil p {
        font-size: 14px; /* Ajusta el tamaño de la fuente en los banners y perfiles */
    }

    .calculadora_viajes {
        padding: 10px;
    }
}